.footer-class {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: .2em; 
}

.footer {
    font-size: .9rem;
    color: var(--clr-gray-600);
}

@include respond-to('medium') {
    max-width: 720px;

    .footer-class {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 1rem; 
    }  
  }


