.section {
    width: 100%;
}

#page-1 {
    background: var(--clr-gradient);

    @include desktop {
        display: flex;
        justify-content: center;
    }
}

#p-1 {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;  

    @include tablet {
        display: grid;
        width: auto;
        grid-template-columns: 2fr 2fr 3fr;
        grid-template-rows: auto 1fr 3fr 2fr 2fr;
        justify-content: space-evenly
    }

    @include desktop {
        margin: 0;
        grid-template-columns: 1fr 2fr 4fr;
        grid-template-rows: auto 1fr 1fr 2fr;
    }
}

#page-3 {
    background-color: var(--clr-background-gray);

    #p-3 {
        margin-top: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    
        @include desktop {
            justify-content: center;
        }
    }
}



#page-4 {
    display: none;

    @include desktop {
        display: block;
    }

    #p-4 {
        display: none;

        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }
}


#page-5 {
    display: none;

    @include desktop {
        display: block;
        background-color: var(--clr-background-gray);
    }

    #p-5 {
        display: none;

        @include desktop {
            display: flex;
            gap: 2rem;
            justify-content: space-evenly;
            padding: 4rem 0;
        }
    }
}

#page-6 {

    @include tablet {
        margin-top: 4rem; 
    }

    #p-6 {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include tablet {
            gap: 2rem;
        }

        @include desktop {
            margin-top: 4rem;
            margin-bottom: 4rem;
            display: grid;
            grid-template-columns: 4fr 5fr;
            grid-template-rows: 2fr 2fr 2fr;
            gap: 4rem;
        }
    }
}