@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-white: #FFFFFF;
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-880: hsl(223, 39%, 11%);
    --clr-gray-890: hsl(223, 39%, 5%);
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-gradient: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);

    --clr-text-headlines: var(--clr-gray-900);
    --clr-text-body: var(--clr-gray-700);
    --clr-text-body-600: var(--clr-gray-600);

    --clr-background: var(--clr-white);
    --clr-background-gray: var(--clr-gray-100);

    --clr-system-error: #EF4444; 
    --clr-system-success: #22C55E;
    --clr-system-warning: #FFBA08;
    --clr-system-info: #4C82F7;
}



*, *::after, *::before {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--clr-background);
    color: var(--clr-text-body);
}

.container {
    margin: auto; 
    padding-inline: 1rem; 
}

.button {
    font-family: "Manrope", sans-serif;
    width: 162px;
    height: 50px;
    background-color: var(--clr-primary);
    border: none; 
    border-radius: 6px;
    color: var(--clr-white);
    
}

/* --- TYPOGRAPHY --- */

h1, h2, h3 {
    font-weight: 900;
    color: var(--clr-text-headlines);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 130%;
    text-wrap: balance;
}

h4, h5, h6 {
    font-weight: 900;
    color: var(--clr-text-headlines);
    line-height: 140%;
    text-wrap: balance;
}

h1 {
    font-size: 2.2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.4rem;
    text-align: center;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--clr-text-body); 
}

.lrg-p {
    font-size: 1.1rem;
    text-align: center;
    color: var(--clr-text-body-600); 
}

.sm-p {
    font-size: .9rem;
    color: var(--clr-text-body-600);
}

span {
    color: var(--clr-text-headlines);
}


/* --- HEADER --- */
nav {
    background-color: var(--clr-background);
    position: sticky;
    top: 0;
    z-index: 5;
}

.header-container {  
    padding: .5rem 1rem .2rem .5rem;
    display: flex;
    flex-direction: row;
    
}

#silicon-logo {
    display: inline-block;
    width: 100%;
    
    #s-text {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
    }
    
    #s-logo {
        display: inline-block;
        vertical-align: middle; 
        margin-right: 0.5rem;
    }
}

.nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-list-item {
    list-style: none;
}

#toggle-switch-li {
    grid-column: 2/3;
    grid-row: 1/2;
}

#hamburger-li {
    grid-column: 3/4;
    grid-row: 1/2;
}

#feature-menu {
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-gray-800);
    text-decoration: none;
    cursor: pointer;
    display: none;
}

#feature-menu:hover {
    color: var(--clr-primary);
}

#signin-button {
    display: none;
}

.toggle-switch-label {
    font-weight: 600;
    font-size: 1rem;
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-gray-600);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3.3px;
    bottom: 3.3px;
    background-color: var(--clr-white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--clr-primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-primary);
} 

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hamburger-menu {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    
    i {
        font-size: 1.5rem;
        color: var(--clr-text-body);
    }
}


/* --- PAGE 1 --- */
#page-1 {
    background: var(--clr-gradient);
}

#p-1 {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;  
}

#headline {
    margin: 1rem;
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
}

#teaser {
    margin: 1rem;
    width: 90vw;
    font-size: 1.1rem;
    color: var(--clr-text-headlines);
    text-align: center;
}

.download-button {
    border-radius: 6px;
    background-color: var(--clr-gray-900);
    width: 90vw;
    height: 53px;
}

.btn-pic {
    width: 88vw;
    height: 50px;
    align-items: center;
    object-fit: none;
}

#apple-pic-dark {
    display: none;
}

#google-pic-dark {
    display: none;
}
.down-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--clr-background);
    color: var(--clr-text-body);
    border: none;
    cursor: pointer;
    position: relative(40vw);
    margin: 1rem;
}

#discover {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#discover-more {
    font-size: .9rem;
    color: var(--clr-text-body-600);
}


#img-co-1 {
    display: none;
}

#logo-section {
    display: none;
}

/* PAGE 2 */
#side-view {
    display: none;
}

.textpage {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.app-feature-container {
    display: flex;
    flex-direction: column;
}

.app-feature-li {
    list-style: none;
    display: inline-flex;
    padding: .5rem;
    align-items: start;
    gap: 1em;
    
    .icon-holder {
        height: 60px;
        width: 60px;
        display: inline-block;
    }
    
    img {
        height: 60px;
        width: 60px;
        object-fit: contain;
    }
    
    p {
        padding: 8px 0;
    }
}

/* ---PAGE 3--- */

#page-3 {
    background-color: var(--clr-background-gray);
}

#p-3 {
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    #first-phone {
        display: none;
    }
    
    #third-phone {
        display: none;
    }
    
    #iphone-montage {
        display: flex;
        width: 70vw;
        margin: 2rem auto;
        height: auto; 
        /* justify-self: center; */
        position: relative;
        
        #iphone-3 {
            place-self: center;
            object-fit: contain;
            width: 100%;
            position: relative;
        }
        
        #modified-screen {
            margin: auto;
            width: 100%;
            object-fit: contain;
            position: absolute;
            z-index: 1;
        }
    }
    
    .text-item {
        margin: 0 .5rem;
        text-align: center;
    }
    
    #three-displays {
        margin: auto;
    }
    
    #transfers {
        #step-3 {
            display: none;
        }
        
        #transfer-desktop {
            display: none;
        }
    }
    
}

/* --- PAGE 4 --- */
#page-4 {
    display: none;
    #p-4 {
        display: none;
    }
}

/* --- PAGE 5 --- */
#page-5 {
    display: none;
    #p-5 {
        display: none;
    }
}

/* ---PAGE 6--- */

#p-6 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .text-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    
    .collapse-faq {
        display: flex;
        flex-direction: column;
    }
    
    .faq {
        display: flex;
        flex-direction: column;
    }
    
    
    /* Following collapsible buttons are made with help from W3 Schools tutorial */
    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: .2px solid var(--clr-gray-300);
        border-radius: 6px;
        background-color: var(--clr-background);
        text-align: left;
        outline: none;
        
        p {
            font-family: "Manrope", sans-serif;
            font-weight: 700;
            font-size: 1rem;
            color: var(--clr-text-body);
        }
        
        #down-arrow {
            background-color: var(--clr-background-gray);
            color: var(--clr-text-body);
            border-radius: 50%;
            padding: .6rem; 
        }
    }
    
    .collapse-faq {
        margin-bottom: 2rem;
    }
    
    #faq-1 {
        .content {
            display: flex;
        }
        
        #down-arrow {
            background-color: var(--clr-primary);
            transform: rotate(180deg);
            color: var(--clr-white);
            box-shadow: 0 4px 6px 0 rgba(11, 15, 25, 0.15);
        } 
    }
    
    /* Style the collapsible content. Note: hidden by default */
    .content {
        padding: 8px 18px;
        display: flex;
        flex-direction: column;
        color: var(--clr-gray-700);
        background-color: var(--clr-background);
        border: .2px solid var(--clr-gray-300);
        border-radius: 6px;
        overflow: hidden;
        display: none;
        
        p {
            padding-bottom: 1rem;
            font-size: .9rem;
        }
    }
}

/* ---CONTACT US ---*/

#button-container {
    width: auto;
    margin-bottom: 2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#contact-container {
    margin-bottom: 2rem;
    display: none;
    padding: 0;
    
    #card-1, #card-2 {
        border: 1px solid var(--clr-gray-500);
        border-radius: 6px;
        display: none;
    }
}


/* --- SUBSCRIBE --- */
#subscribe-container {
    background-color: var(--clr-background-gray);
    margin: .5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#bell-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

#subscribe-text {
    font-weight: 900;
    
    span {
        display: none;
    }
}

#input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;    
}

#email-input {
    height: 50px;
    width: 230px;
    border: 1px solid var(--clr-gray-400);
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#email-input::placeholder {
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    padding: .5rem;
    color: var(--clr-gray-500);
}

#sub-btn {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* --- FOOTER ---- */

.footer-class {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: .2em; 
}

.footer {
    font-size: .9rem;
    color: var(--clr-gray-600);
}

.darkmode {
    --clr-background: var(--clr-gray-900);
    --clr-background-gray: var(--clr-gray-890);

    --clr-text-headlines: var(--clr-white);
    --clr-text-body: var(--clr-gray-500);
    --clr-text-body-600: var(--white);


    .download-button {
        background-color: var(--clr-gray-100);

        #apple-pic-dark {
            display: block;
        }
        
        #google-pic-dark {
            display: block;
        }
    
        #apple-pic {
            display: none;
        }
        
        #google-pic {
            display: none;
        }
    }  

    #p-6 {
        .collapsible {
            border: .05px solid var(--clr-gray-800);
            p {
                color: var(--clr-white);
            }

            #down-arrow {
                color: var(--clr-white);
            }
        }
        
        .content {
            border: .05px solid var(--clr-gray-800);
        }
    }
}


/* MEDIA QUERIES */
/* --- TABLET SCREEN --- */
@media (min-width: 768px) {
    
    .container {
        max-width: 720px;
    }
    
    #silicon-logo {
        width: 30%;
    }
    
    .nav-list {
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 1fr;
        justify-items: right;
    }
    
    
    #hamburger-li {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    #feature-menu {
        font-size: 1rem;
        font-weight: 700;
        color: var(--clr-gray-800);
        text-decoration: none;
        cursor: pointer;
        display: none;
    }
    

    .toggle-switch-label {
        display: inline;
        padding-right: 1rem;
    }
    
    
    #p-1 {
        display: grid;
        width: auto;
        grid-template-columns: 2fr 2fr 3fr;
        grid-template-rows: auto 1fr 3fr 2fr 2fr;
        align-items: center; 
        justify-content: space-evenly
    }

    #headline {
        grid-row: 1/2;
        grid-column: 1/4;
        font-size: 2.75rem;
    }
        
    #teaser {
        grid-row: 3/4;
        grid-column: 1/3; 
        width: auto;
        text-align: left;
        margin: 0;
    }
    
    #discover {
        grid-row: 5/6;
        grid-column: 1/3;
        justify-self: left;
    }
    
    #img-co-1 {
        display: flex;
        align-self: flex-end;
        width: 54vw;
        height: auto;
        grid-row: 2/6;
        grid-column: 3/4;
    }

    #ip-1 {
        width: 100%;
        height: 100%;
        align-items: center;
        object-fit: contain;  
    }
    
    

    #logo-section {
        display: block;
        
        .logo-container {
            margin-bottom: 3rem;
            display: flex; 
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            gap: 1rem;
        
            .logo-holder {
                padding: 1.5rem 0.5rem;
                width: 130px;
                height: 90px;
                border: 2px solid var(--clr-gray-300);
                border-radius: .5em;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    padding: .5em;   
                }
            }

            .logo-lrg {
                display: none;
            }
        }
    }

    /* PAGE 2 */
    .app-feature-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* --- PAGE 3 --- */

    #p-3 {
        margin-top: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;

        .text-item {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    

    #three-displays {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-evenly;
        align-items: center;

        #first-phone {
            display: block;
            width: 23vw;

            img {
                justify-self: center;
                width: 100%;
                height: auto;
            }
        }

        #iphone-montage {
            margin: 0;
            width: 25vw;
        }

        #third-phone {
            display: block;
            width: 23vw;

            img {
                justify-self: center;
                width: 100%;
                height: auto;
            }
        }
    }

        #transfers {
            width: 65vw;
            padding: 2rem 0;
            margin: auto;
            text-align: center;
            text-wrap: balance;

            #transfer-tablet {
                display: inline;
                margin: auto;
                padding: 0;
                
                #step-3 {
                    display: inline;
                    color: var(--clr-text-headlines);
                }
            }

            p {
                padding-top: 1rem;
            }
        }

        
    
    
    
    }
    /* --- PAGE 4 --- */
    #page-4 {
        display: none;
    }

    /* --- PAGE 5 --- */
    #page-5 {
        display: none;
    }

    /* --- FAQ Section --- */

    #page-6 {
        margin-top: 4rem; 

        #p-6 {
            gap: 2rem;

            .text-item {
                width: 50vw; 
                margin: auto;
    
                h3 {
                    font-size: 2rem;
                }
            }
        }

        

        /* ---CONTACT SECTION--- */
    

        #contact-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 1rem;
            align-self: start;
            justify-content: space-between;

            .card {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: auto;
                padding: 1rem;
                gap: 1rem;
                text-align: left;
                border: 1px solid var(--clr-gray-500);
                border-radius: 6px;

                    a {
                        text-decoration: none;
                        font-weight: 600;
                        color: var(--clr-primary);
                    }
                }

            #message-contact {
                color: var(--clr-system-success);
            }

            
        }
        #button-container {
            display: none;
        }
    }

    /* --- SUBSCRIBE --- */
    #subscribe-container {
        margin: auto;
        padding: 4rem 0;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }
    
    #bell-sub {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }
    
    #subscribe-text {
        font-weight: 900;
        width: 200px;
        
    }
    
    #input-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;    
    }
    
    #email-input {
        height: 50px;
        width: 215px;
        border: 1px solid var(--clr-gray-400);
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #email-input::placeholder {
        padding: .5rem;
        color: var(--clr-gray-500)
    }
    
    #sub-btn {
        width: 77px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    /* --- FOOTER --- */
    .footer-class {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 1rem; 
    }    

    .darkmode {
        #teaser {
            color: var(--clr-text-body-600);
        }

        #logo-section .logo-holder {
            border: .5px solid var(--clr-gray-800);
            /* background-color: var(--clr-gradient); */
        }   

    }
}

/* --- SMALL DESKTOP SCREEN --- */

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* --- LARGE DESKTOP SCREEN ---- */

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    h1, h2, h3 {
        text-align: left;
    }


    #silicon-logo {
        width: 15%;
    }
    
    .nav-list {
        grid-template-columns: 5fr 2fr 2fr;
        grid-template-rows: 1fr;
        justify-items: right;
        align-items: center;;
    }
    
    #feature-menu-li {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: left;
    }

    #toggle-switch-li {
       grid-column: 2/3;
       grid-row: 1/2;
    }
    
    #hamburger-li {
        display: none;
    }


    #signin-btn-li {
        grid-column: 3/4;
        grid-row: 1/2;
    }


    #feature-menu {
        display: inline;
        color: var(--clr-text-body);
    }

    #signin-button {
        display: block;
        height: 40px;
        text-decoration: none;
        background-color: var(--clr-primary);
        padding: .3rem 1rem;
        
        i {
            padding: .5rem;
        }

        span {
            color: var(--clr-white);
        }
    }


    /* --- PAGE ONE --- */

    #page-1 {
        display: flex;
        justify-content: center;
    }

    #p-1 {
        display: grid;
        margin: 0;
        grid-template-columns: 1fr 2fr 4fr;
        grid-template-rows: auto 1fr 1fr 2fr;
        align-items: center; 
        justify-content: space-evenly;
    }

    #headline {
        grid-row: 1/2;
        grid-column: 1/3;
        font-size: 3.2rem;
        text-align: left;
        margin-top: 5rem;
        margin-left: 0;
    }
        
    #teaser {
        grid-row: 2/3;
        grid-column: 1/3; 
        width: auto;
        text-align: left;
        align-self: flex-start;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    
    
    #apple {
        justify-self: center;
        align-self: flex-start;
        grid-row: 3/4;
        grid-column: 1 / 2;
    }

    #google {
        justify-self: start;
        align-self: flex-start;
        grid-row: 3/4;
        grid-column: 2 / 3;
    }

    .download-button {
        justify-content: center;
        align-items: center;
    }

    .btn-pic {
        object-fit: contain;
        width: 90%;
    }

    #apple-box {
        display: flex;
        width: 180px;
        height: 52px;
    }

    #google-box {
        display: flex;
        width: 180px;
        height: 52px;
    }

    #discover {
        grid-row: 4/5;
        grid-column: 1/3;
        justify-self: start;
        margin-left: 0;

        .down-btn {
            margin: 1rem;
        }
    }
    
    #img-co-1 {
        display: flex;
        align-self: flex-end;
        justify-self: flex-end;
        width: 100%;
        height: auto;
        grid-row: 1/5;
        grid-column: 3/4;
    }


    /* --- LOGO SECTION --- */
    #logo-section {
        
        .logo-container {
            margin-top: 3rem;

            .logo-holder {
                width: 180px;
                height: 90px;
            }
    
            .logo-lrg {
                display: flex;
            }
        }
    }

    #page-2 {
        #p-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10rem;
            margin: auto;
            margin-bottom: 6rem;
            margin-top: 6rem;

            
            #side-view {
                display: block;
                width: 22vw;
                height: auto; 
                align-self: flex-end;
                
                #side-phone {
                    object-fit: contain;
                    width: 100%;
                }
            }

            #text-content {
                display: block;
                width: 40vw;
                justify-content: end;
                margin: 0;
                padding: 0;

                .textpage {
                    margin-bottom: 4rem;

                    #app-features {
                        align-self: start;
                        font-size: 2.5rem;
                    }

                    .lrg-p {
                        text-align: left;
                    }  
                }
            }
            
            .app-feature-container {
                gap: 2rem;
            }
        }
    }

    #p-3 {
        justify-content: center;
        
        .text-item {
            h2 {
                font-size: 2.5rem;
                text-align: center;
            }
            
        }

        #three-displays {
            max-width: 1140px;
            padding: 2rem;
            gap: 6rem;
            margin: auto;

            #first-phone {
                width: 16vw;
            }
            #iphone-montage {
                width: 18vw;
            }
            #third-phone {
                width: 16vw;
            }
            
        }

        
        
        #transfers {
            display: block;
            width: 100%;
            margin: auto;

            #transfer-tablet {
                display: none;
            }

            #step-3 {
                display: none;
            }
    
            #transfer-desktop {
                display: block;
                margin-top: 1rem;
                font-size: 1.5rem;
            }

            p {
                max-width: 40vw;
                margin: auto;
            }
        } 
    }

    /* --- PAGE 4 --- */
    #page-4 {
        
        display: block;

        #p-4 {
            display: flex;
            flex-direction: column;

            .p4-flex {
                display: flex;
                flex-direction: row;
                gap: 7rem;
                margin: 4rem;
                align-items: center;
            }
        
            .p4-text {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: left;
                
                h2 {
                    text-align: left;
                }
            }

            .p4-li-1 {
                margin-bottom: 1rem;

                i {
                    color: var(--clr-primary);
                }

                p {
                    text-align: left;
                }
            }

            #p4-img-1 {
                position: relative;
        
                #scr-1 {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: -1;
                }
        
                #scr-2 {
                    position: absolute;
                    z-index: 2;
                    bottom: -60px;
                    right: -40px;
                }
            }
        
            #p4-img-2 {
                position: relative;
        
                #scr-3 {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: -1;
                }
        
                #scr-visa {
                    position: absolute;
                    z-index: 2;
                    bottom: 70px;
                    right: -40px;
                }
            }
        
            li {
                display: flex;
                gap: .5rem;
                align-items: center;
            }
        
            .p4-ul-2 {
                display: flex;
                flex-direction: row;
                gap: 3rem;
            }
        
            .p4-li-2 {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }


    /* --- PAGE 5 --- */
    #page-5 {
        display: block;
        background-color: var(--clr-background-gray);

        #p-5 {
            display: flex;
            gap: 2rem;
            justify-content: space-evenly;
            padding: 4rem 0;
        
            #p-5-text {
                min-width: 20vw;
                h2 {
                    text-align: left;
                    font-size: 2rem;
                    padding-right: 2rem;
                }  
            }
    
            .text-box {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                background-color: var(--clr-background);
                border: none;
                border-radius: 6px;
                box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);
                padding: 2rem;
                position: relative;

                #quotes {
                    position: absolute;
                    top: -30px;
                    left: 40px;
                    transform: translateX(-50%);
                    width: 60px; /* Adjust the size of the icon */
                    height: auto;
                }
            }
            
            .stars {
                color: var(--clr-system-warning);
                text-align: left; 
                margin: 0; 
            }
    
            .reviewer-byline {
                display: flex;
                gap: 1rem;
            }
        }
    }
    
    #page-6 {
        #p-6 {
            margin-top: 4rem;
            margin-bottom: 4rem;
            display: grid;
            grid-template-columns: 4fr 5fr;
            grid-template-rows: 2fr 2fr 2fr;
            gap: 4rem;
            
        
            .text-item {
                width: auto; 
                margin: auto;
                grid-column: 1/2;
                grid-row: 1/2;
                justify-content: center;
                
                h3 {
                    font-size: 2rem;
                    text-align: left;
                }
                p {
                    text-align: left;
                }
            }
    
            .collapse-faq {
                grid-column: 2/3;
                grid-row: 1/4;

                .collapsible {
                    margin-top: .5rem;
                }
            }
    
            #contact-container {
                grid-column: 1/2;
                grid-row: 2/3;
                align-self: start; 
                justify-content: space-between;

                .card {
                    min-height: max-content;
                }
            }
        }
    }
    
    


    /* --- SUBSCRIBE --- */
    #subscribe-container {
        padding: 4rem;
        gap: 2rem;
        
        #subscribe-text {
            width: auto;
            text-align: left;

            span {
                display: inline;
            }
        }

        #bell-container {
            padding: 1rem;
        }
        
        #email-input {
            min-width: 350px;
            background-color: var(--clr-white);
        }
                
        #sub-btn {
            width: 120px;
        }
    }

    .darkmode {
        
        #page-5 {
            #p-5 {
                .text-box {
                    background-color: var(--clr-gray-880);
                }
            }
        }

    }
}