@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-white: #FFFFFF;
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-gradient: linear-gradient(90deg, rgba(99, 102, 241, 0.05) 0%, rgba(139, 92, 246, 0.15) 50%, rgba(217, 70, 239, 0.15) 100%);

    --clr-system-error: #EF4444; 
    --clr-system-success: #22C55E;
    --clr-system-warning: #FFBA08;
    --clr-system-info: #4C82F7;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

.container {
    margin: auto; 
    padding-inline: 1rem; 
}

.button {
    width: 162px;
    height: 50px;
    background-color: var(--clr-primary);
    border: none; 
    border-radius: 6px;
    color: white;
}


/* --- TYPOGRAPHY --- */

h1 {
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    color: var(--clr-gray-900);
}

h2 {
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    color: var(--clr-gray-900);
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    color: var(--clr-gray-900);
}

h4 {
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center;
    color: var(--clr-gray-900);
}


h5 {
    font-size: 1.2rem;
    font-weight: 900;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-gray-700); 
}

.lrg-p {
    font-size: 1.1rem;
    text-align: center;
}

.sm-p {
    font-size: .9rem;
    color: var(--clr-gray-600);
}


/* --- MOBILE DESIGN --- */

/* --- HEADER --- */
nav {
    background: var(--clr-gradient);
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1rem;
    align-items: center; 
    justify-content: space-between; 
    padding: .5rem 1rem .2rem .5rem;
}

#feature-menu {
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-gray-800);
    display: none;
}

#feature-menu:hover {
    color: var(--clr-primary);
}

#signin-button {
    display: none;
}

.toggle-switch-label {
    display: none;
    font-weight: 600;
    font-size: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-gray-600);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3.3px;
    bottom: 3.3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--clr-primary);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-primary);
  } 
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.hamburger-menu {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    justify-self: end; 

    i {
        font-size: 1.5rem;
    }
}


/* --- PAGE 1 --- */
#page-1 {
    background: var(--clr-gradient);
}

#p-1 {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;  
}

#headline {
    margin: 1rem;
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
}

#teaser {
    margin: 1rem;
    width: 90vw;
    font-size: 1.1rem;
    color: var(--clr-gray-600);
    text-align: center;
}

.download-button {
    border-radius: 6px;
    background-color: #0B0F19;
    width: 90vw;
    height: 53px;
}

.btn-pic {
    width: 88vw;
    height: 50px;
    align-items: center;
    object-fit: none;
}

.down-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    border: none;
    position: relative(40vw);
    margin: 1rem;
}

#discover {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#discover-more {
    font-size: .9rem;
    color: var(--clr-gray-600);
}

#img-co-1 {
    display: none;
}

#logo-section {
    display: none;
}

/* PAGE 2 */
#side-view {
    display: none;
}

.textpage {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.app-feature-container {
    display: flex;
    flex-direction: column;
}

.app-feature-li {
    list-style: none;
    display: inline-flex;
    padding: .5rem;
    align-items: start;
    gap: 1em;
    
    .icon-holder {
        height: 60px;
        width: 60px;
        display: inline-block;
    }

    img {
        height: 60px;
        width: 60px;
        object-fit: contain;
    }

    p {
        padding: 8px 0;
    }
}

/* ---PAGE 3--- */

#page-3 {
    background-color: var(--clr-gray-100);
}

#p-3 {
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;  
        
       #first-phone {
            display: none;
        }
    
        #third-phone {
            display: none;
        }
    

        #iphone-montage {
            place-self: center;
            display: flex;
            width: 70vw;
            margin: 2rem;
            height: auto; 
            justify-content: center;
            position: relative;
            
            #iphone-3 {
                place-self: center;
                object-fit: contain;
                width: 100%;
                position: relative;
            }
    
            #modified-screen {
                place-self: center;
                width: 100%;
                object-fit: contain;
                position: absolute;
                z-index: 1;
            }
        }

    .text-item {
        margin: 0 .5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        text-align: center;
    }

    #three-displays {
        margin: auto;
    }

    #transfers {
        #step-3 {
            display: none;
        }

        #transfer-desktop {
            display: none;
        }
    }
    
}


/* --- PAGE 4 --- */
#page-4 {
    display: none;
    #p-4 {
        display: none;
    }
}

/* --- PAGE 5 --- */
#page-5 {
    display: none;
    #p-5 {
        display: none;
    }
}

/* ---PAGE 6--- */

#p-6 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .text-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .collapse-faq {
        display: flex;
        flex-direction: column;
    }

    .faq {
        display: flex;
        flex-direction: column;
    }


    /* Following collapsible buttons are made with help from W3 Schools tutorial */
    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: .2px solid var(--clr-gray-300);
        border-radius: 6px;
        background-color: white;
        text-align: left;
        outline: none;
        color: var(--clr-gray-900);
        
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 1rem;

        #down-arrow {
            background-color: var(--clr-gray-100);
            border-radius: 50%;
            padding: .6rem; 
        }
    }
    
.collapse-faq {
    margin-bottom: 2rem;
}

    #faq-1 {
        .content {
            display: flex;
        }

        #down-arrow {
            background-color: var(--clr-primary);
            transform: rotate(180deg);
            color: white;
        } 
    }

    /* Style the collapsible content. Note: hidden by default */
    .content {
        padding: 8px 18px;
        display: flex;
        flex-direction: column;
        color: var(--clr-gray-700);
        background-color: white;
        border: .2px solid var(--clr-gray-300);
        border-radius: 6px;
        overflow: hidden;
        background-color: white;
        
        p {
            padding-bottom: 1rem;
            font-size: .9rem;
        }

        display: none;
    }
}

/* ---CONTACT US ---*/

#button-container {
    width: 100vw;
    margin-bottom: 2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#contact-container {
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    display: none;

    #card-1, #card-2 {
        border: 1px solid var(--clr-gray-500);
        border-radius: 6px;
        display: none;
    }
}





   
/* --- SUBSCRIBE --- */
#subscribe-container {
    background-color: var(--clr-gray-100);
    margin: .5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#bell-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

#subscribe-text {
    font-weight: 900;
  }

#input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;    
}

#email-input {
    height: 50px;
    width: 230px;
    border: 1px solid var(--clr-gray-400);
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#email-input::placeholder {
    font-family: "Manrope", sans-serif;
    padding: .5rem;
    color: var(--clr-gray-500);
}

#sub-btn {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* --- FOOTER ---- */

.footer-class {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: .2em; 
}

.footer {
    font-size: .9rem;
    color: var(--clr-gray-600);
}

/* MEDIA QUERIES */
/* --- MOBILE SCREEN --- */
@media (min-width: 768px) {

    .container {
        max-width: 720px;
        margin: auto;
    }
    
    .header-container {
        grid-template-columns: 1fr auto auto;
        padding-top: 1rem;
    }
    
    .toggle-switch-label {
        display: inline;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-self: end;
    }
    
    #p-1 {
        display: grid;
        width: auto;
        grid-template-columns: 2fr 2fr 3fr;
        grid-template-rows: auto 1fr 3fr 2fr 2fr;
        align-items: center; 
        justify-content: space-evenly
    }

    #headline {
        grid-row: 1/2;
        grid-column: 1/4;
        font-size: 2.75rem;
    }
        
    #teaser {
        grid-row: 3/4;
        grid-column: 1/3; 
        width: auto;
        text-align: left;
        margin: 0;
    }
    
    #apple {
        justify-self: end;
        grid-row: 4/5;
        grid-column: 1 / 2;
    }

    #google {
        justify-self: end;
        grid-row: 4/5;
        grid-column: 2 / 3;
    }

    .download-button {
        justify-content: center;
        align-items: center;
    }

    .btn-pic {
        object-fit: contain;
        width: 90%;
    }

    #apple-box {
        display: flex;
        width: 126px;
        height: 44px;
    }

    #google-box {
        display: flex;
        width: 138px;
        height: 44px;
    }

    #discover {
        grid-row: 5/6;
        grid-column: 1/3;
        justify-self: center;
    }
    
    #img-co-1 {
        display: flex;
        align-self: flex-end;
        width: 54vw;
        height: auto;
        grid-row: 2/6;
        grid-column: 3/4;
    }

    #ip-1 {
        width: 100%;
        height: 100%;
        align-items: center;
        object-fit: contain;  
    }
    
    

    #logo-section {
        display: block;
        
        .logo-container {
            margin-bottom: 3rem;
            display: flex; 
            align-items: center;
            justify-content:space-evenly;
            flex-direction: row;
            gap: 1rem;
        
            .logo-holder {
                padding: 1.5rem 0.5rem;
                width: 130px;
                height: 90px;
                border: 2px solid var(--clr-gray-300);
                border-radius: .5em;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    padding: .5em;
                }
            }

            .logo-lrg {
                display: none;
            }
        }
    }

    /* PAGE 2 */
    .app-feature-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* --- PAGE 3 --- */

    #p-3 {
        margin-top: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;    

        .text-item {
            font-size: 2rem;
        }
    

    #three-displays {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        #first-phone {
            display: block;
            width: 23vw;

            img {
                justify-self: center;
                width: 100%;
                height: auto;
            }
        }

        #iphone-montage {
            margin: 0;
            width: 25vw;
        }

        #third-phone {
            display: block;
            width: 23vw;

            img {
                justify-self: center;
                width: 100%;
                height: auto;
            }
        }
    }

    #step-3 {
        display: inline;
    }

    #transfer-tablet {
        display: flex; 
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 7rem;
    }
    
    }
    /* --- PAGE 4 --- */
    #page-4 {
        display: none;
    }

    /* --- PAGE 5 --- */
    #page-5 {
        display: none;
    }

    /* --- FAQ Section --- */

    #page-6 {
        .text-item {
            width: 50vw; 
            margin: auto;
            h3 {
                font-size: 2rem;
            }
        }

        /* ---CONTACT SECTION--- */
    

        #button-container {
        display: none;
        }

        #contact-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;

        .card {
            display: flex;
            flex-direction: column;
            width: 45vw;
            padding: 2rem;
            gap: 1rem;
            text-align: left;
            border: 1px solid var(--clr-gray-500);
            border-radius: 6px;

                a {
                    text-decoration: none;
                    font-weight: 600;
                    color: var(--clr-primary);
                }
            }

            #message-contact {
                color: var(--clr-system-success);
            }
        }
    }

    /* --- SUBSCRIBE --- */
    #subscribe-container {
        max-width: 720px;
        margin: auto;
        padding: 4rem 0;
        
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }
    
    #bell-sub {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }
    
    #subscribe-text {
        font-weight: 900;
        width: 200px;
    }
    
    #input-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;    
    }
    
    #email-input {
        height: 50px;
        width: 215px;
        border: 1px solid var(--clr-gray-400);
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #email-input::placeholder {
        font-family: "Manrope", sans-serif;
        padding: .5rem;
        color: var(--clr-gray-500)
    }
    
    #sub-btn {
        width: 77px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    

    /* --- FOOTER --- */
    .footer-class {
        display: flex;
        flex-direction: row;
        margin: auto;
    }    
}

/* --- SMALL DESKTOP SCREEN --- */

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* --- LARGE DESKTOP SCREEN ---- */

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .header-container {
        grid-template-columns: 1fr 1fr 4fr 1fr;
        padding: .5remrem 1rem 0 1rem;
    }

    #feature-menu {
        display: block;
        justify-self: start;
        grid-column: 2/3;
    }

    .hamburger-menu {
        display: none;
    }

    .toggle-switch-button {
        grid-column: 3/4;
        justify-self: end;
    }

    #signin-button {
        display: block;
        justify-self: end;
        grid-column: 4/5;
        text-decoration: none;
        background-color: var(--clr-primary);
        padding: .3rem 1rem;
        color: white;
        border-radius: 6px;

        i {
            padding: .5rem;
        }
    }


    /* --- PAGE ONE --- */

    #page-1 {
        display: flex;
        justify-content: center;
    }

    #p-1 {
        display: grid;
        margin: 0;
        grid-template-columns: 1fr 2fr 4fr;
        grid-template-rows: auto 1fr 1fr 2fr;
        align-items: center; 
        justify-content: space-evenly;
    }

    #headline {
        grid-row: 1/2;
        grid-column: 1/3;
        font-size: 3.2rem;
        text-align: left;
        margin-top: 5rem;
        margin-left: 0;
    }
        
    #teaser {
        grid-row: 2/3;
        grid-column: 1/3; 
        width: auto;
        text-align: left;
        align-self: flex-start;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
    

    #apple {
        justify-self: center;
        align-self: flex-start;
        grid-row: 3/4;
        grid-column: 1 / 2;
    }

    #google {
        justify-self: start;
        align-self: flex-start;
        grid-row: 3/4;
        grid-column: 2 / 3;
    }

    .download-button {
        justify-content: center;
        align-items: center;
    }

    .btn-pic {
        object-fit: contain;
        width: 90%;
    }

    #apple-box {
        display: flex;
        width: 180px;
        height: 52px;
    }

    #google-box {
        display: flex;
        width: 180px;
        height: 52px;
    }

    #discover {
        grid-row: 4/5;
        grid-column: 1/3;
        justify-self: start;
        margin-left: 0;

        .down-btn {
            margin: 0;
        }
    }
    
    #img-co-1 {
        display: flex;
        align-self: flex-end;
        justify-self: flex-end;
        width: 100%;
        height: auto;
        grid-row: 1/5;
        grid-column: 3/4;
    }


/* --- LOGO SECTION --- */
    #logo-section {
        
        .logo-container {
            margin-top: 3rem;

            .logo-holder {
                width: 180px;
                height: 90px;
            }
    
            .logo-lrg {
                display: flex;
            }
        }
    }

    #page-2 {
        #p-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            margin: auto;
            margin-bottom: 6rem;
            margin-top: 6rem;

            
            #side-view {
                display: block;
                width: 22vw;
                height: auto; 
                align-self: flex-end;
                
                    #side-phone {
                        object-fit: contain;
                        width: 100%;
                    }
            }

            #text-content {
                display: block;
                width: 40vw;
                justify-content: end;
                margin: 0;
                padding: 0;

                .textpage {
                    #app-features {
                        align-self: start;
                        font-size: 2.5rem;
                        
                    }

                    .lrg-p {
                        text-align: left;
                    }
                    
                }
            }
            
            .app-feature-container {
                gap: 2rem;
            }
        }
    }

    #page-3 {
        .text-item {
            font-size: 2.5rem;
        }

        #three-displays {

            max-width: 1140px;
            padding: 4rem;
            
            gap: 4rem;
                #first-phone {
                    width: 16vw;
                }
                #iphone-montage {
                    width: 18vw;
                }
                #third-phone {
                    width: 16vw;
                }
            }
        }

        #transfer-tablet {
            display: none;
        }

        #transfer-desktop {
            display: block;
            margin-top: 1.5rem;
            font-size: 1.5rem;
        }    

        p {
            max-width: 40vw;
            margin: auto;
        }

        /* --- PAGE 4 --- */
    #page-4 {
        display: block;

        #p-4 {
            display: flex;
            flex-direction: column;

            .p4-flex {
                display: flex;
                flex-direction: row;
                gap: 7rem;
                margin: 4rem;
            }
        
            .p4-text {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: left;
                
                h2 {
                    text-align: left;
                }
            }

            #p4-li-1 {
                p {
                    text-align: left;
                }
            }
        
            #p4-img-1 {
                position: relative;
        
                #scr-1 {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: -1;
                }
        
                #scr-2 {
                    position: absolute;
                    z-index: 2;
                    bottom: -60px;
                    right: -40px;
                }
            }
        
            #p4-img-2 {
                position: relative;
        
                #scr-3 {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: -1;
                }
        
                #scr-visa {
                    position: absolute;
                    z-index: 2;
                    bottom: 70px;
                    right: -40px;
                }
            }
        
        
            li {
                display: flex;
                gap: .5rem;
                align-items: center;
            }
        
            .p4-ul-2 {
                display: flex;
                flex-direction: row;
                gap: 3rem;
            }
        
            .p4-li-2 {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    

    

    /* --- PAGE 5 --- */
    #page-5 {
        display: block;
        background-color: var(--clr-gray-100);

        #p-5 {
            display: flex;
            gap: 5rem;
            justify-content: space-evenly;
            padding: 4rem 0;
        
    
            #p-5-text {
                width: 50%;
    
                h2 {
                    text-align: left;
                }
                
            }
    
            .text-box {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                background-color: var(--clr-white);
                border: none;
                border-radius: 6px;
                box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);
                padding: 2rem;
                position: relative;
            }
            
            #quotes {
                position: absolute;
                top: -25px;
                left: 25px;
            }
    
            .stars {
                color: var(--clr-system-warning);
            }
    
            .reviewer-byline {
                display: flex;
                gap: 1rem;
            }
        }
    }

    /* ---CONTACT SECTION--- */



    #button-container {
        display: none;
    }

    #contact-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;

    .card {
        display: flex;
        flex-direction: column;
        width: 45vw;
        padding: 2rem;
        gap: 1rem;
        text-align: left;
        border: 1px solid var(--clr-gray-500);
        border-radius: 6px;

            a {
                text-decoration: none;
                font-weight: 600;
                color: var(--clr-primary);
            }
        }

        #message-contact {
            color: var(--clr-system-success);
        }
    }

    /* --- SUBSCRIBE --- */
    #subscribe-container {
        max-width: 720px;
        margin: auto;
        padding: 4rem 0;
        
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }
    
    #bell-sub {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }
    
    #subscribe-text {
        font-weight: 900;
        width: 200px;
    }
    
    #input-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;    
    }
    
    #email-input {
        height: 50px;
        width: 215px;
        border: 1px solid var(--clr-gray-400);
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #email-input::placeholder {
        font-family: "Manrope", sans-serif;
        padding: .5rem;
        color: var(--clr-gray-500)
    }
    
    #sub-btn {
        width: 77px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    

    /* --- FOOTER --- */
    .footer-class {
        display: flex;
        flex-direction: row;
        margin: auto;
    }    

}
