@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #FFFFFF;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-gradient: linear-gradient(90deg, rgba(99, 102, 241, 0.05) 0%, rgba(139, 92, 246, 0.15) 50%, rgba(217, 70, 239, 0.15) 100%);

    --clr-system-error: #EF4444; 
    --clr-system-success: #22C55E;
    --clr-system-warning: #FFBA08;
    --clr-system-info: #4C82F7;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

.container {
    margin: auto; 
    padding-inline: 1rem; 
}

/* --- HEADER --- */
header {
    background: var(--clr-gradient)
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1rem;
    align-items: center; 
    justify-content: space-between; 
    padding: .5rem 1rem .2rem .5rem;
}

#feature-menu {
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-gray-800);
    display: none;
}

#feature-menu:hover {
    color: var(--clr-primary)
}

#signin-button {
    display: none;
}

.toggle-switch-label {
    display: none;
    font-weight: 600;
    font-size: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-gray-600);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3.3px;
    bottom: 3.3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--clr-primary);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-primary);
  } 
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.hamburger-menu {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    justify-self: end; 

    i {
        font-size: 1.5rem;
    }
}


/* --- PAGE 1 --- */
#page-1 {
    background: var(--clr-gradient)
}

#p-1 {
    display: flex;
    margin-bottom: 3rem;;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;  
}

#headline {
    margin: 1rem;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}

#teaser {
    margin: 1rem;
    width: 90vw;
    font-size: 1.1rem;
    color: var(--clr-gray-600);
    text-align: center;
}

.download-button {
    border-radius: 6px;
    background-color: #0B0F19;
    width: 90vw;
    height: 53px;
}

.btn-pic {
    width: 88vw;
    height: 50px;
    align-items: center;
    object-fit: none;
}

.down-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    border: none;
    position: relative(40vw);
    margin: 1rem;
}

#discover {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#discover-more {
    font-size: .9rem;
    color: var(--clr-gray-600);
}

#img-co-1 {
    display: none;
}

#logo-section {
    display: none;
}

/* PAGE 2 */
.textpage {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}


.app-feature-container {
    display: flex;
    flex-direction: column;
}

.app-feature-li {
    list-style: none;
    display: inline-flex;
    padding: .5rem;
    align-items: start;
    gap: 1em;
    
    .icon-holder {
        height: 60px;
        width: 60px;
        display: inline-block;
    }

    img {
        height: 60px;
        width: 60px;
        object-fit: contain;
    }

    p {
        padding: 8px 0;
    }
}

/* ---PAGE 3--- */

#p-3 {
    background-color: var(--clr-gray-100);
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;  
        
       #first-phone {
            display: none;
        }
    
        #third-phone {
            display: none;
        }
    

    #iphone-montage {
        place-self: center;
        display: grid;
        width: 70vw;
        margin: 2rem;
        height: auto; 
        justify-content: center;
        
            #iphone-3 {
                place-self: center;
                grid-column: 1/1;
                grid-row: 1/1;
                object-fit: contain;
                width: 100%;
            }
    
            #modified-screen {
                place-self: center;
                width: 100%;
                grid-column: 1/1;
                grid-row: 1/1;
                object-fit: contain;
                z-index: 1;
            }
        }

    .text-item {
        margin: 0 .5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        text-align: center;

        
    }

    #step-3 {
        display: none;
    }
}




/* ---PAGE 4--- */

#p-4 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .text-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .collapse-faq {
        display: flex;
        flex-direction: column;
    }

    .faq {
        display: flex;
        flex-direction: column;
    }


    /* Following collapsible buttons are made with help from W3 Schools tutorial */
    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: .2px solid var(--clr-gray-300);
        border-radius: 6px;
        background-color: white;
        text-align: left;
        outline: none;
        color: var(--clr-gray-900);
        
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 1rem;

        #down-arrow {
            background-color: var(--clr-gray-100);
            border-radius: 50%;
            padding: .6rem; 
        }
    }
    
.collapse-faq {
    margin-bottom: 2rem;
}

    #faq-1 {
        .content {
            display: flex;
        }

        #down-arrow {
            background-color: var(--clr-primary);
            transform: rotate(180deg);
            color: white;
        } 
    }

    /* Style the collapsible content. Note: hidden by default */
    .content {
        padding: 8px 18px;
        display: flex;
        flex-direction: column;
        color: var(--clr-gray-700);
        background-color: white;
        border: .2px solid var(--clr-gray-300);
        border-radius: 6px;
        overflow: hidden;
        background-color: white;
        
        p {
            padding-bottom: 1rem;
            font-size: .9rem;
        }

        display: none;
    }
}

/* --- PAGE 5 --- */
/* ---CONTACT US ---*/

#button-container {
    width: 100vw;
    margin-bottom: 2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#contact-container {
    margin-bottom: 2rem;

    justify-content: center;
    align-items: center;
    display: none;
}

.button {
    width: 162px;
    height: 50px;
    background-color: var(--clr-primary);
    border: none; 
    border-radius: 6px;
    color: white;
}

.card {
    border: 1px solid var(--clr-gray-500);
    border-radius: 6px;
    display: none;
}


   
/* --- SUBSCRIBE --- */
#subscribe-container {
    background-color: var(--clr-gray-100);
    margin: .5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#bell-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

#subscribe-text {
    font-weight: 900;
  }

#input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;    
}

#email-input {
    height: 50px;
    width: 230px;
    border: 1px solid var(--clr-gray-400);
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#email-input::placeholder {
    font-family: "Manrope", sans-serif;
    padding: .5rem;
    color: var(--clr-gray-500)
}

#sub-btn {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* --- FOOTER ---- */

.footer-class {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: .2em; 
}

.footer {
    font-size: .9rem;
    color: var(--clr-gray-600);
}