@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

*, *::after, *::before {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    @include text; 
}