#signin-button {
    display: none;

    @include desktop {
        #signin-button {
            display: block;
            height: 40px;
            text-decoration: none;
            background-color: var(--clr-primary);
            padding: .3rem 1rem;
            
            i {
                padding: .5rem;
            }
    
            span {
                color: var(--clr-white);
            }
        }
    }
}