#three-displays {
    margin: auto; 
    
    @include respond-to('medium') {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-evenly;
        align-items: center;
    }

    @include respond-to('medium') {
        padding: 2rem;
        margin: auto;
    }

    #first-phone {
        display: none;

        @include respond-to('medium') {
            display: block;
            width: 23vw;

            img {
                justify-self: center;
                width: 95%;
                height: auto;
            }
        }

        @include respond-to('large') {
            width: 16vw;
        }
    }

    #iphone-montage {
        display: flex;
        width: 70vw;
        margin: 2rem auto;
        height: auto; 
        position: relative;

        @include respond-to('medium') {
            margin: 0;
            width: 25vw;
        }

        @include respond-to('large') {
            width: 18vw;
        }
        
        #iphone-3 {
            place-self: center;
            object-fit: contain;
            width: 100%;
            position: relative;
        }
        
        #modified-screen {
            margin: auto;
            width: 100%;
            object-fit: contain;
            position: absolute;
            z-index: 1;
        }
    }

    #third-phone {
        display: none;

        @include respond-to('medium') {
            display: block;
            width: 23vw;

            img {
                justify-self: center;
                width: 95%;
                height: auto;
            }
        }

        @include respond-to('large') {
            width: 16vw;
        }
    }
}




