

.button {
    @include button;
    width: 162px;
    height: 50px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.down-btn {
    @include round-button;
    background-color: var(--clr-background);
    color: var(--clr-text-body);
    position: relative(40vw);
    margin: 1rem;

    // &::before {
    //     @include font-awesome-icon("\f078");  // Unicode for chevron-down
    //     color: var(--clr-white);
    //     font-size: 1rem;
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);  /* Centering the icon */
    // }

    @include respond-to('large') {
        margin: 1rem;
    }
}

.download-button {
    @include button;
    background-color: var(--clr-gray-900);
    width: 90vw;
    height: 53px;

    @include respond-to('medium') {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
    }

    @include respond-to('large') {
        height: 52px;
        width: 180px;
    }
} 



#signin-button {
    display: none;

    @include respond-to('large') {
        display: block;
        height: 40px;
        text-decoration: none;
        background-color: var(--clr-primary);
        padding: .3rem 1rem;
        
        i {
            padding: .5rem;
        }

        span {
            color: var(--clr-white);
        }
    }
}

.hamburger-menu {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    
    i {
        font-size: 1.5rem;
        color: var(--clr-text-body);
    }
}


#p-1 {
    #apple-box, #google-box {
        border-radius: 6px;
        background-color: var(--clr-gray-900);
        width: 90vw;
        height: 53px;

        @include respond-to('medium') {
            display: flex;
            width: 126px, 138px;
            height: 44px;
            justify-content: center;
            align-items: center;
        }

        @include respond-to('large') {
            display: flex;
            width: 180px;
            height: 52px;
        }
    }

    #apple-pic, google-pic {
        width: 88vw;
        height: 50px;
        align-items: center;
        object-fit: none;

        @include respond-to('medium') {
            object-fit: contain;
            width: 90%;
        }
    }
    
    #apple-pic-dark {
        display: none;
    }
    
    #google-pic-dark {
        display: none;
    }
}



