

.button {
    @include button;
    width: 162px;
    height: 50px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.down-btn {
    @include round-button;
    background-color: var(--clr-background);
    color: var(--clr-text-body);
    position: relative(40vw);
    margin: 1rem;

    // &::before {
    //     @include font-awesome-icon("\f078");  // Unicode for chevron-down
    //     color: var(--clr-white);
    //     font-size: 1rem;
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);  /* Centering the icon */
    // }

    @include respond-to('large') {
        margin: 1rem;
    }
}

#signin-button {
    display: none;

    @include respond-to('large') {
        display: block;
        height: 40px;
        text-decoration: none;
        background-color: var(--clr-primary);
        padding: .3rem 1rem;
        
        i {
            padding: .5rem;
        }

        span {
            color: var(--clr-white);
        }
    }
}

.hamburger-menu {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    
    i {
        font-size: 1.5rem;
        color: var(--clr-text-body);
    }
}


