:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-100: hsl(225, 100%, 98%);
    --clr-gray-200: hsl(226, 68%, 96%);
    --clr-gray-300: hsl(228, 35%, 92%);
    --clr-gray-400: hsl(229, 25%, 86%);
    --clr-gray-500: hsl(231, 16%, 75%);
    --clr-gray-600: hsl(231, 14%, 63%);
    --clr-gray-700: hsl(234, 14%, 39%);
    --clr-gray-800: hsl(235, 20%, 25%);
    --clr-gray-880: hsl(224, 39%, 11%);
    --clr-gray-890: hsl(222, 38%, 5%);
    --clr-gray-900: hsl(223, 39%, 7%);

    --clr-primary: hsl(239, 84%, 67%);
    --clr-gradient: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);

    --clr-text-headlines: var(--clr-gray-900);
    --clr-text-body: var(--clr-gray-700);
    --clr-text-body-600: var(--clr-gray-600);

    --clr-background: var(--clr-white);
    --clr-background-gray: var(--clr-gray-100);

    --clr-system-error: hsl(0, 84%, 60%); 
    --clr-system-success: hsl(142, 71%, 45%);
    --clr-system-warning: hsl(43, 100%, 52%);
    --clr-system-info: hsl(221, 91%, 63%);
}