#page-5 {
    display: none;
    
    @include respond-to('large') { 
        display: block;
        background-color: var(--clr-background-gray);
    }

    #p-5 {
        @include respond-to('large') {
            max-width: 1140px;

            display: flex;
            gap: 2rem;
            justify-content: space-evenly;
            padding: 4rem 0;

            #p-5-text {
                min-width: 20vw;
                h2 {
                    text-align: left;
                    font-size: 2rem;
                    padding-right: 2rem;
                }  
            }
        }
    }
}
