.button {
    width: 162px;
    height: 50px;
    background-color: var(--clr-primary);
    border: none; 
    border-radius: 6px;
    color: var(--clr-white);
}

.download-button {
    background-color: var(--clr-gray-900);
    width: 90vw;
    height: 53px;
}

#signin-button {
    display: block;
    height: 40px;
    text-decoration: none;
    background-color: var(--clr-primary);
    padding: .3rem 1rem;
    
    i {
        padding: .5rem;
    }

    span {
        color: var(--clr-white);
    }
}