.container {
    margin: auto; 
    width: 100%; 
    padding-inline: 1rem; 
    position: relative;

    @include tablet {
        max-width: 720px;
    }

    @include desktop {
        max-width: 1140px;
    }
}

.header-container {  
    padding: .5rem 1rem .2rem .5rem;
    display: flex;
    flex-direction: row; 
}

#subscribe-container {
    background-color: var(--clr-background-gray);
    margin: .5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#contact-container {
    margin-bottom: 2rem;
    display: none;
    padding: 0;
    
    #card-1, #card-2 {
        border: 1px solid var(--clr-gray-500);
        border-radius: 6px;
        display: none;
    }
}