.nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .nav-list-item {
        list-style: none;
    }

    #toggle-switch-li {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #hamburger-li {
        grid-column: 3/4;
        grid-row: 1/2;
    }


    @include tablet {
        .nav-list {
            grid-template-columns: 2fr 2fr 1fr;
            grid-template-rows: 1fr;
            justify-items: right;
        }
    }

    @include desktop {
        .nav-list {
            grid-template-columns: 5fr 2fr 2fr;
            grid-template-rows: 1fr;
            align-items: center;
        }
    }
    
}

